.nav {
    background-color: lawngreen;
    padding: 11px 25px;
    width: 100px;
    text-align: center;
    display: inline-block;
    position: relative;
}
/* this turns the dropdown off when not in use */
.dropdown {
    display: none;
    position: absolute;
    z-index: 99;
    padding-top: 20px;
    margin-left: -22px;
}
/* this turns the dropdown on when in use */
.nav:hover .dropdown {
    display: block;
}
.dropdown .nav {
    background-color: cadetblue;

}
.dropdown .nav:hover {
    background-color: pink;
    transition-duration: 0.5s;
}
