/* font-family: 'Roboto', sans serif; */
/* font-family: 'Playfair Display', serif; */
html {
    height: 100%;
}
body {
    background-image: linear-gradient(#FC5E55, #FA4083);
     color: white;
     font-family: 'Roboto', sans-serif;
     font-size: 1.125rem;
}
.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}
header {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
main {
    min-height: 300px;
    display: flex;
    align-items: center;
    display: flex;
}
.herobox1 {
    flex: 2;
    padding-right: 100px;
}
h1 {
    font-size: 3.125rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 1.2rem;
}
.herobox2 {
    flex: 1;
}
.cards {
    background-color: rgb(58, 153, 49);
    min-height: 300px;
    display: flex;
    justify-content: space-between; 
}
.card1 {
    background-color: rgb(206, 27, 152);
    min-height: 300px;
    width: 30%;
}
.card2 {
    background-color: rgb(110, 16, 82);
    min-height: 300px;
    width: 30%;
}
.card3 {
    background-color: rgb(56, 7, 41);
    min-height: 300px;
    width: 30%;
}
p {
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
}